.calender__header {
  display: flex;
  position: relative;
  gap: 4px;
  margin: auto 0;
  cursor: pointer;
  font-size: var(--title-size);
}
.calender {
  ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 2px solid var(--main-color1);
    border-left: 2px solid var(--main-color1);
  }
  li {
    box-sizing: border-box;
    padding: 5px;
    border-bottom: 2px solid var(--main-color1);
    border-right: 2px solid var(--main-color1);
    &.day {
      text-align: center;
      line-height: 2rem;
      font-size: var(--title-size);
    }
  }
}
