nav {
  width: 100%;
}
.link__list {
  display: flex;
  justify-content: center;
  font-size: var(--body-size);
  text-align: center;
  li {
    width: 100%;
    &:hover {
      color: var(--main-color2);
    }
    a {
      svg {
        position: relative;
        top: 4px;
        margin: auto 5px;
      }
    }
  }

  .link__active {
    color: var(--main-color2);
  }
}
