@import "./style/reset.css";

:root {
  --main-color1: #ca91dc;
  --main-color2: #8aa7ec;
  --main-color3: #5199ea;
  --text-color: white;
}

html {
  background: linear-gradient(
    var(--main-color1),
    var(--main-color2),
    var(--main-color3)
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  color: var(--text-color);
  letter-spacing: 2px;
}
